<!DOCTYPE html>
<html>
<head>
    <title>Select Role - Maha Parihara</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="bg-image">

<div class="overlay">

    <h1 style="margin-bottom: 10px;">Maha Parihara</h1>
    <h2>Select Your Role</h2>

    <div class="roles">
        <a href="/admin_login"><button>Admin</button></a>
        <a href="/hod_login"><button>HOD</button></a>
        <a href="/faculty_login"><button>Faculty</button></a>
        <a href="/student_login"><button>Student</button></a>
    </div>

</div>

</body>
</html>